@import "_colors.less";

.auth-page {
  background: @accentColorBlue;
  height: 100%;
  width: 100%;

  /* Centering child */
  /* https://css-tricks.com/centering-in-the-unknown/ */
  text-align: center;
  font-size: 0;

  /* The ghost, nudged to maintain perfect centering */
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    //margin-right: -1em; /* Adjusts for spacing */
  }

  .auth-container {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;

    .auth-plain {
      background: white;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);

      animation: animation-scaleto1 0.3s;
    }

    .signin-panel {
      padding: 2.5em;
      transition: height 0.3s linear;

      .welcome {
        padding: 1em 0;
      }

      i {
        font-size: 2em;
        line-height: 1.5em;
        color: #999;
      }

      form input[type='text'],
      form input[type='email'],
      form input[type='password'],
      form span {
        height: 3em;
      }

      .button {
        margin-top: 1em;
      }

      .signup-field.hidden {
        display: none;
      }
      .signup-field.appear-vertical {
        display: block;
        animation: animation-scaleto1-vertical 0.3s;
      }
    }

    .newusers {
      background: #fff;
    }
  }
}
